@model BusinessEntities.Model.UserEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
</head>
<body>

    <table>

        <tr>

            <td>

                <img src="http://jadetalent.co.nz/Images/TalentBack.png" width="150px" height="60px" />
                <br />
                <br />

                <div style="border-top: 3px solid #22BCE5"></div>

                <span style="font-family: Arial; font-size: 10pt">Hello <b>
                    @Model.UserName
                </b>,<br />
                    <br />

                    <a style="color: #22BCE5" href="{Url}">Password Information</a><br />

                    Your Password for Amdin Login is : <span>@Model.Password</span>

                    <br />
                    <br />

                    Thanks<br />

                    Jade Admin  
  
                </span>

            </td>

        </tr>

    </table>

</body>
</html>
