@model TalentSearchWebApp.Models.CustomEmailFormat
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Format</title>
</head>
<body>

    <table>

        <tr>

            <td>
                <div style="border-top: 3px solid #22BCE5"></div>

                <span style="font-family: Arial; font-size: 10pt">Hello <b>Stacey </b>,</span>
                <br />
                <br />

                <a style="color: #22BCE5" href="{Url}">Please find below the newly registered candidate.</a><br />
                <table>
                    @{
                        foreach (var profile in Model.candidateList)
                        {
                        <tr>
                            <td>
                                @Html.Raw("<a href='http://jadetalent.co.nz/Home/Profile?ProfileId=" + profile.ProfileId + "'><img src='http://jadetalent.co.nz/Content/Files/Image/" + profile.profilePicPath + "' alternate='" + profile.CandidateName + "' height='100px' width='100px' ");
                            </td>
                            <td>
                                <ul style="list-style: none">
                                    <li><span>Name : </span><span>@Html.Raw(profile.CandidateName)</span></li>
                                </ul>
                            </td>
                        </tr>
                        }
                    }
                </table>
                <br />
                <br />

                Thanks<br />
            </td>

        </tr>
        <tr>
            <td style="white-space: normal">

                <div>
                    <div>Stacey Jade Houkamau</div>
                    <div><strong>Director</strong>&nbsp;&nbsp;Jade Talent Limited</div>
                    <div><strong>m</strong>:&nbsp;<a style="word-break: break-all"></a><a dir="ltr" href="tel:+64211855321" style="word-break: break-all" target="_blank">+64211855321</a>&nbsp;</div>
                    <div><strong>w</strong>:&nbsp;<a href="https://www.jadetalent.co.nz/" style="word-break: break-all" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.jadetalent.co.nz/&amp;source=gmail&amp;ust=1499014976720000&amp;usg=AFQjCNFYA7lSykV5LEx26442ZUg53w8hnQ">www.jadetalent.co.nz</a>&nbsp;</div>
                    <div><strong>e</strong>:&nbsp;<a style="word-break: break-all">&nbsp;stacey@jadetalent.co.nz</a>&nbsp;</div>

                </div>
                <div>
                    <img alt="" height="129" src="http://jadetalent.co.nz/Content/images/Signature_Logo.jpg" width="200" style="border-width: 0px; vertical-align: middle" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 152px; top: 605px;">
                    </div>
                </div>
            </td>
        </tr>

    </table>

</body>
</html>
