@model BusinessEntities.Model.UserEntity
@{
    ViewBag.Title = "ChangePassword";
}

<style>
    #banner {
        display: none;
    }

    .wrapper.style1 {
        background-color: whitesmoke;
    }

    .row {
        margin-left: 30%;
    }

    input[type="text"], input[type="password"] {
        width: 40%!important;
    }
</style>
<script>

    $(document).ready(function () {
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onblur = validatePassword;
    });

</script>
<h2 style="text-align: center;">ChangePassword</h2>

@using (@Html.BeginForm())
{
    <div class="container WhiteBack">
        <div class="row" style="font-weight: bolder;">
            <div class="12u wufoo">

                @Html.PasswordFor(Model => Model.Password, new { placeholder = "Enter Password", required = "", id = "password" })
                <br />
            </div>
            <div class="12u wufoo">

                <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm Password" class="form-control input-md" required="">
            </div>
            <div class="12u wufoo">
                <br />
                <input type="submit" name="Save" value="Submit" class="btn btn-success" />
            </div>
            <div class="12u wufoo">
                @{
    if (ViewBag.isPasswordSaved)
    {
                    <label><strong>Password has been saved successfully.</strong></label>
    }
                }
            </div>
        </div>
    </div>
}

