@model BusinessEntities.Model.UserEntity
@{
    ViewBag.Title = "ChangePassword";
}

<style>
    .slider {
        display: none;
    }
</style>
<script>

    $(document).ready(function () {
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onblur = validatePassword;
    });

</script>


@using (@Html.BeginForm())
{
    
    <div class="content">
        <div class="container">
            <div class="row" style="padding-top: 5%">
                <div class="col-xs-12 col-sm-3"></div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Change Password</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 form-group">
                                            @Html.PasswordFor(Model => Model.Password, new { placeholder = "Enter Password", required = "", id = "password", @class = "form-control" })
                                        </div>

                                        <div class="col-xs-12 form-group">

                                            <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm Password" class="form-control" required="">
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            <br />
                                            <input type="submit" name="Save" value="Submit" class="btn btn-success" />
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            @{
    if (ViewBag.isPasswordSaved)
    {
                                                <label><strong>Password has been saved successfully.</strong></label>
    }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-xs-12 col-sm-3"></div>
            </div>
        </div>
    </div>
}

