@model BusinessEntities.Model.UserEntity
@{
    ViewBag.Title = "ForgotPassword";
}

<style>
    #banner {
        display: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-12"></div>
        <div class="col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot Password</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <form name="ForgotPassword">

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 form-group">
                                        @Html.TextBoxFor(Model => Model.Email, new { placeholder = "Enter Email Address", required = "", id = "emailid", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 form-group">
                                        <input type="button" name="Send" onclick="getMessage()" value="SEND" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                            <input type="submit" style="display: none" id="formsubmit" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12"></div>
    </div>
</div>

<script>
    function getMessage() {
        var $myForm = $('#ForgotPassword');
        if (!$myForm.context.forms[0].checkValidity()) {
            $("#formsubmit").click();
            return;
        }
        var emailInfo = {};
        emailInfo["EmailId"] = $("#emailid").val();
        $.ajax({
            url: '/Email/ForgotPasswordEmail',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(emailInfo),
            processData: false,
            cache: false,
            success: function (data) {
                emailInfo["Message"] = data;
                sendEnquiry(emailInfo).then(function () {
                    window.location = "../Home/MessagePage?messageKey=ForgotPasswordSent";
                }, function (error) {
                    alert('Please try after some time.');
                });
            },
            error: function (xhr) {
                alert('Please try after some time.');
            }
        });
    }
    function sendEnquiry(messageObj) {
        return $.ajax({
            url: '/Admin/ForgotPassword',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(messageObj),
            processData: false,
            cache: false,
            success: function (data) {

            },
            error: function (xhr) {
                alert('Please try after some time.');
            }
        });

    }
</script>
