@model BusinessEntities.Model.UserEntity
@{
    ViewBag.Title = "ForgotPassword";
}

<style>
    #banner {
        display: none;
    }
</style>
<div class="container" style="background-color: whitesmoke;">
    <div class="row">
        <div class="6u wufoo">
            <form>
                <fieldset>
                    <legend>Forgot Password</legend>

                    <span>
                        @Html.TextBoxFor(Model => Model.Email, new { placeholder = "Enter Email Address", required = "", id = "emailid" })
                        <br />
                    </span>
                    <span>
                        <input type="submit" name="Save" value="Submit" class="btn btn-success" />
                    </span>
                </fieldset>
            </form>
        </div>
    </div>
</div>
