@{
    ViewBag.Title = "Jobs";
    <style type="text/css">
        #banner {
            display: none;
        }

        .btnwrapper {
            margin-left: 5%;
            margin-bottom: 2%;
            border: 1px solid #000;
            display: inline-block;
            position: relative;
        }
    </style>  
}
<div id='dialog'></div>
<h3>Job List</h3>

<div style="padding: 7px 0;">
    <input type="button" style="float: right; margin-bottom: 2%;" value="Add New Job" 
            onclick="@("window.location.href='" + @Url.Action("CreateJob", "Admin") + "'")    ;" />
</div>
<div style="clear: both"></div>

<div class="btnwrapper">
    <input type="text" id="txt" style="width: 80%" placeholder="Search" />
    <button style="width: 20%; height: 100%; background-color: transparent; border: 0; position: absolute; right: 0; top: 0;" onclick="SearchJob()"><span class="icon-search">GO</span></button>

</div>



<div id="gridArea">
    @{Html.RenderAction("GetJobsData", "Admin");}
</div>

<script src="~/Scripts/Custom/JobList.js" type="text/javascript"></script>
