@{
    ViewBag.Title = "ProductionCompany";
    <style type="text/css">
        .slider {
            display: none;
        }

        .btnwrapper {
            margin-left: 5%;
            margin-bottom: 2%;
            border: 1px solid #000;
            display: inline-block;
            position: relative;
        }

        td {
            padding-left: 1em!important;
            padding-right: 1em!important;
        }

        th {
             padding-left: 1em!important;
            padding-right: 1em!important;
            text-align: center;
        }
    </style>  
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Production Company List</h3>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">

        <div class="row titlerow">

            <div class="col-sm-4 col-xs-12">
                <div class="input-group stylish-input-group">
                    <input type="text" id="txt" class="form-control" style="width: 80%" placeholder="Search" />
                    <span class="input-group-addon">
                        <a href="#" onclick='return SearchProductionCompany()'>GO
                        </a>

                    </span>

                </div>
            </div>
            <div class="col-sm-8 col-xs-12" style="padding: 7px 0;">
                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <input type="button" style="float: right; margin-bottom: 2%;" value="Add New Production Company" onclick="CreateProductionCompany()" />
                    </div>
                </div>
            </div>
        </div>



        <div id="gridArea" class="table">
            @{Html.RenderAction("GetProductionCompanyData", "Admin");}
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/ProductionCompanyList.js" type="text/javascript"></script>
