USE [TalentSearch]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nchar](1000) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[MasterCategory]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MasterCategory](
	[MasterCategoryName] [varchar](200) NOT NULL,
	[MasterCategoryDescription] [varchar](1000) NULL,
 CONSTRAINT [PK_MasterCategory] PRIMARY KEY CLUSTERED 
(
	[MasterCategoryName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MasterCategory] ([MasterCategoryName], [MasterCategoryDescription]) VALUES (N'ADMIN', N'Admin')
INSERT [dbo].[MasterCategory] ([MasterCategoryName], [MasterCategoryDescription]) VALUES (N'CATEGORY', N'Categoris')
INSERT [dbo].[MasterCategory] ([MasterCategoryName], [MasterCategoryDescription]) VALUES (N'ETHNICITY', N'the fact or state of belonging to a social group that has a common national or cultural tradition.')
/****** Object:  Table [dbo].[ErrorTracer]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ErrorTracer](
	[iErrorID] [int] IDENTITY(1,1) NOT NULL,
	[vErrorNumber] [int] NULL,
	[vErrorState] [int] NULL,
	[vErrorSeverity] [int] NULL,
	[vErrorLine] [int] NULL,
	[vErrorProc] [varchar](max) NULL,
	[vErrorMsg] [varchar](max) NULL,
	[vUserName] [varchar](max) NULL,
	[vHostName] [varchar](max) NULL,
	[dErrorDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[iErrorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorTracer] ON
INSERT [dbo].[ErrorTracer] ([iErrorID], [vErrorNumber], [vErrorState], [vErrorSeverity], [vErrorLine], [vErrorProc], [vErrorMsg], [vUserName], [vHostName], [dErrorDate]) VALUES (1, 8134, 1, 16, 16, N'Proc_ExceptionHandlingExample', N'Divide by zero error encountered.', N'Singla-PC\Singla', N'SINGLA-PC', CAST(0x0000A74500A7F5D6 AS DateTime))
INSERT [dbo].[ErrorTracer] ([iErrorID], [vErrorNumber], [vErrorState], [vErrorSeverity], [vErrorLine], [vErrorProc], [vErrorMsg], [vUserName], [vHostName], [dErrorDate]) VALUES (2, 8134, 1, 16, 16, N'Proc_ExceptionHandlingExample', N'Divide by zero error encountered.', N'Singla-PC\Singla', N'SINGLA-PC', CAST(0x0000A74500A81561 AS DateTime))
INSERT [dbo].[ErrorTracer] ([iErrorID], [vErrorNumber], [vErrorState], [vErrorSeverity], [vErrorLine], [vErrorProc], [vErrorMsg], [vUserName], [vHostName], [dErrorDate]) VALUES (3, 8134, 1, 16, 16, N'Proc_ExceptionHandlingExample', N'Divide by zero error encountered.', N'Singla-PC\Singla', N'SINGLA-PC', CAST(0x0000A74500A817BB AS DateTime))
SET IDENTITY_INSERT [dbo].[ErrorTracer] OFF
/****** Object:  Table [dbo].[Region]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RegionName] [varchar](200) NOT NULL,
	[RegionCode] [varchar](50) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([RegionId], [RegionName], [RegionCode]) VALUES (1, N'Northland', N'NZ-NTL')
INSERT [dbo].[Region] ([RegionId], [RegionName], [RegionCode]) VALUES (2, N'Auckland', N'NZ-AUK')
INSERT [dbo].[Region] ([RegionId], [RegionName], [RegionCode]) VALUES (3, N'Waikato', N'NZ-WKO')
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[ProductionCompany]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductionCompany](
	[ProductionCompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductionCompanyName] [varchar](1000) NULL,
	[RegionId] [bigint] NULL,
	[ContactPerson] [varchar](500) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[EmailId] [varchar](200) NULL,
	[DescriptionNotes] [varchar](max) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ProductionCompany] PRIMARY KEY CLUSTERED 
(
	[ProductionCompanyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionCompany] ON
INSERT [dbo].[ProductionCompany] ([ProductionCompanyId], [ProductionCompanyName], [RegionId], [ContactPerson], [PhoneNumber], [EmailId], [DescriptionNotes], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, N'abc', 1, N'ub', N'gyg', N'jhgfhgfh', N'hb yugyg uih', 1, CAST(0x00EDCE00873C0B0000 AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[ProductionCompany] ([ProductionCompanyId], [ProductionCompanyName], [RegionId], [ContactPerson], [PhoneNumber], [EmailId], [DescriptionNotes], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, N'dhsd', 1, N'jhb', N'hgjhgj', N'jhgjhg', N'oji1', 0, CAST(0x005A3E009A3C0B0000 AS DateTime2), 2, CAST(0x0064FC00AB3C0B0000 AS DateTime2), 1)
INSERT [dbo].[ProductionCompany] ([ProductionCompanyId], [ProductionCompanyName], [RegionId], [ContactPerson], [PhoneNumber], [EmailId], [DescriptionNotes], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, N'dhsd', 2, N'jhb', N'12224', N'jhgjhg', N'oji', 0, CAST(0x006A3E009A3C0B0000 AS DateTime2), 2, CAST(0x0073F100AB3C0B0000 AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ProductionCompany] OFF
/****** Object:  StoredProcedure [dbo].[Proc_InsertErrorDetails]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_InsertErrorDetails]
AS
/*
Purpose    : Insert the error details occurred in the SQL query
Input      : Insert the details which receives from the TRY...CATCH block
Output     : Insert the details of received errors into the ErrorTracer table
Created By : Senthilkumar
Created On : July 17, 2009
*/
BEGIN
  SET NOCOUNT ON 
  SET XACT_ABORT ON
  
  DECLARE @ErrorNumber VARCHAR(MAX)  
  DECLARE @ErrorState VARCHAR(MAX)  
  DECLARE @ErrorSeverity VARCHAR(MAX)  
  DECLARE @ErrorLine VARCHAR(MAX)  
  DECLARE @ErrorProc VARCHAR(MAX)  
  DECLARE @ErrorMesg VARCHAR(MAX)  
  DECLARE @vUserName VARCHAR(MAX)  
  DECLARE @vHostName VARCHAR(MAX) 

  SELECT  @ErrorNumber = ERROR_NUMBER()  
       ,@ErrorState = ERROR_STATE()  
       ,@ErrorSeverity = ERROR_SEVERITY()  
       ,@ErrorLine = ERROR_LINE()  
       ,@ErrorProc = ERROR_PROCEDURE()  
       ,@ErrorMesg = ERROR_MESSAGE()  
       ,@vUserName = SUSER_SNAME()  
       ,@vHostName = Host_NAME()  
  
INSERT INTO ErrorTracer(vErrorNumber,vErrorState,vErrorSeverity,vErrorLine,
	vErrorProc,vErrorMsg,vUserName,vHostName,dErrorDate)  
VALUES(@ErrorNumber,@ErrorState,@ErrorSeverity,@ErrorLine,@ErrorProc,
	@ErrorMesg,@vUserName,@vHostName,GETDATE())  
END
GO
/****** Object:  Table [dbo].[Category]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[MasterCategoryName] [varchar](200) NOT NULL,
	[CategoryName] [varchar](200) NOT NULL,
	[CategoryValue] [varchar](200) NULL,
	[CategoryDescription] [varchar](1000) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Category] UNIQUE NONCLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([CategoryId], [MasterCategoryName], [CategoryName], [CategoryValue], [CategoryDescription]) VALUES (1, N'STATUS', N'Job Status', N'Job Status', N'Status of the job posted by production company')
INSERT [dbo].[Category] ([CategoryId], [MasterCategoryName], [CategoryName], [CategoryValue], [CategoryDescription]) VALUES (2, N'STATUS', N'Talent Status', N'Talent Status', N'Status of the talent')
INSERT [dbo].[Category] ([CategoryId], [MasterCategoryName], [CategoryName], [CategoryValue], [CategoryDescription]) VALUES (4, N'STATUS', N'Contact Status', N'Contact Status', N'Status of the contact')
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Tokens]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AuthToken] [nvarchar](250) NOT NULL,
	[IssuedOn] [datetime] NOT NULL,
	[ExpiresOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Tokens] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[SubCategoryName] [nvarchar](200) NOT NULL,
	[SubCategoryValue] [nvarchar](200) NOT NULL,
	[SubCategoryDescription] [nvarchar](max) NULL,
	[ParentId] [bigint] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON
INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [SubCategoryName], [SubCategoryValue], [SubCategoryDescription], [ParentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, 1, N'Active', N'Active', N'Active', NULL, 1, CAST(0x00000000683C0B0000 AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [SubCategoryName], [SubCategoryValue], [SubCategoryDescription], [ParentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, 1, N'Inactive', N'Inactive', N'Inactive', NULL, 1, CAST(0x00000000683C0B0000 AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[SubCategory] ([SubCategoryId], [CategoryId], [SubCategoryName], [SubCategoryValue], [SubCategoryDescription], [ParentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, 1, N'On Hold', N'On Hold', N'On Hold', NULL, 1, CAST(0x00000000683C0B0000 AS DateTime2), NULL, NULL, 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
/****** Object:  Table [dbo].[Talent]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Talent](
	[TalentId] [bigint] IDENTITY(1000,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[StatusId] [bigint] NULL,
	[EmailId] [varchar](200) NOT NULL,
	[AlternateEmailId] [varchar](200) NULL,
	[Gender] [varchar](50) NOT NULL,
	[Age] [bigint] NOT NULL,
	[Hobbies] [varchar](1000) NULL,
	[Acsent] [bigint] NULL,
	[Mobile] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[PostalAddress] [varchar](1000) NOT NULL,
	[RegionId] [bigint] NOT NULL,
	[EmergencyName] [varchar](200) NULL,
	[EmergencyNumber] [varchar](50) NULL,
	[Height] [bigint] NULL,
	[Nationality] [varchar](100) NULL,
	[EyeColor] [varchar](50) NULL,
	[Ethnicity] [varchar](100) NULL,
	[Waist] [bigint] NULL,
	[HairColor] [varchar](50) NULL,
	[ChestSize] [bigint] NULL,
	[HipSize] [bigint] NULL,
	[IsPublic] [bit] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Talent] PRIMARY KEY CLUSTERED 
(
	[TalentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Talent] ON
SET IDENTITY_INSERT [dbo].[Talent] OFF
/****** Object:  Table [dbo].[ContactUs]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ContactId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContactPersonName] [varchar](500) NOT NULL,
	[ContactPersonEmail] [varchar](500) NOT NULL,
	[Subject] [varchar](1000) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[AdminComments] [varchar](max) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ContactStatus] [bigint] NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [bigint] IDENTITY(1000,1) NOT NULL,
	[JobName] [varchar](1000) NOT NULL,
	[ProductionCompanyId] [bigint] NOT NULL,
	[StatusId] [bigint] NULL,
	[RegionId] [bigint] NULL,
	[JobDescription] [nvarchar](max) NULL,
	[Gender] [varchar](50) NULL,
	[MinAge] [bigint] NOT NULL,
	[MaxAge] [bigint] NOT NULL,
	[EyeColor] [varchar](50) NULL,
	[Height] [bigint] NULL,
	[Waist] [bigint] NULL,
	[HairColor] [varchar](50) NULL,
	[ChestSize] [bigint] NULL,
	[HipSize] [bigint] NULL,
	[Ethicity] [varchar](100) NULL,
	[Pay] [varchar](100) NULL,
	[NumberOfDays] [bigint] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON
INSERT [dbo].[Jobs] ([JobId], [JobName], [ProductionCompanyId], [StatusId], [RegionId], [JobDescription], [Gender], [MinAge], [MaxAge], [EyeColor], [Height], [Waist], [HairColor], [ChestSize], [HipSize], [Ethicity], [Pay], [NumberOfDays], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1000, N'test', 1, NULL, NULL, NULL, N'gj', 12, 13, N'hghj', 12, 21, N'hjg', 12, 12, N'hjgjh', N'12828', 28, 2017, CAST(0x00000000693C0B0000 AS DateTime2), 2, CAST(0x00D09400AC3C0B0000 AS DateTime2), 1)
INSERT [dbo].[Jobs] ([JobId], [JobName], [ProductionCompanyId], [StatusId], [RegionId], [JobDescription], [Gender], [MinAge], [MaxAge], [EyeColor], [Height], [Waist], [HairColor], [ChestSize], [HipSize], [Ethicity], [Pay], [NumberOfDays], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1001, N'Test', 1, 1, 2, N'Test', N'Male', 1, 5, NULL, 0, 0, NULL, 0, 0, NULL, N'1000', 10, 2, CAST(0x00A24C01AB3C0B0000 AS DateTime2), 2, CAST(0x0090B900AC3C0B0000 AS DateTime2), 0)
INSERT [dbo].[Jobs] ([JobId], [JobName], [ProductionCompanyId], [StatusId], [RegionId], [JobDescription], [Gender], [MinAge], [MaxAge], [EyeColor], [Height], [Waist], [HairColor], [ChestSize], [HipSize], [Ethicity], [Pay], [NumberOfDays], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1002, N'Talent Job', 10, 1, 2, N'Talent Job', N'Male', 15, 21, NULL, 0, 0, N'Black Color', 0, 0, NULL, N'1000', 20, 2, CAST(0x006DCA00AB3C0B0000 AS DateTime2), 2, CAST(0x001FCB00AB3C0B0000 AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
/****** Object:  Table [dbo].[Media]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Media](
	[MediaId] [bigint] IDENTITY(1,1) NOT NULL,
	[MediaType] [varchar](20) NOT NULL,
	[TalentId] [bigint] NULL,
	[JobId] [bigint] NULL,
	[MimeType] [varchar](20) NOT NULL,
	[FileName] [varchar](500) NOT NULL,
	[IsProfilePic] [bit] NULL,
	[FilePath] [varchar](1000) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[MediaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON
INSERT [dbo].[Media] ([MediaId], [MediaType], [TalentId], [JobId], [MimeType], [FileName], [IsProfilePic], [FilePath], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, N'Image', 1000, NULL, N'hgj', N'profile1', 0, N'../Content/images/banner.jpg', 1, CAST(0x00000000733C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[Media] ([MediaId], [MediaType], [TalentId], [JobId], [MimeType], [FileName], [IsProfilePic], [FilePath], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (4, N'Image', 1000, NULL, N'hgj', N'profile2', 0, N'../Content/images/pic01.jpg', 1, CAST(0x00000000733C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[Media] ([MediaId], [MediaType], [TalentId], [JobId], [MimeType], [FileName], [IsProfilePic], [FilePath], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (8, N'Image', 1000, NULL, N'image/png', N'Capture.PNG', 0, N'../Content/Files/Image/Capture.PNG', 1, CAST(0x003D4A00913C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Media] OFF
/****** Object:  Table [dbo].[JobTalentLanguage]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTalentLanguage](
	[JobTalentLanguageId] [bigint] IDENTITY(1,1) NOT NULL,
	[LanguageId] [bigint] NOT NULL,
	[JobId] [bigint] NULL,
	[TalentId] [bigint] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobTalentLanguage] PRIMARY KEY CLUSTERED 
(
	[JobTalentLanguageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobTalentLanguage] ON
INSERT [dbo].[JobTalentLanguage] ([JobTalentLanguageId], [LanguageId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, 128, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentLanguage] ([JobTalentLanguageId], [LanguageId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, 129, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentLanguage] ([JobTalentLanguageId], [LanguageId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, 130, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[JobTalentLanguage] OFF
/****** Object:  Table [dbo].[JobTalentCategory]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTalentCategory](
	[JobTalentCategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[JobId] [bigint] NULL,
	[TalentId] [bigint] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobTalentCategory] PRIMARY KEY CLUSTERED 
(
	[JobTalentCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobTalentCategory] ON
INSERT [dbo].[JobTalentCategory] ([JobTalentCategoryId], [CategoryId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, 135, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentCategory] ([JobTalentCategoryId], [CategoryId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, 136, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentCategory] ([JobTalentCategoryId], [CategoryId], [JobId], [TalentId], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (3, 137, NULL, 1000, 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[JobTalentCategory] OFF
/****** Object:  Table [dbo].[JobTalentAssociation]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTalentAssociation](
	[JobTalentAssociationId] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[TalentId] [bigint] NOT NULL,
	[Status] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobTalentAssociation] PRIMARY KEY CLUSTERED 
(
	[JobTalentAssociationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetJobs]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobs]
AS

 select count(1) as JobCount from jobs

SELECT
  *
FROM Jobs
GO
/****** Object:  Table [dbo].[JobTalentSkills]    Script Date: 04/18/2017 22:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobTalentSkills](
	[JobTalentSkillsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentCategoryId] [bigint] NOT NULL,
	[SkillId] [bigint] NOT NULL,
	[JobId] [bigint] NULL,
	[TalentId] [bigint] NULL,
	[Description] [varchar](max) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[modifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_JobTalentSkills] PRIMARY KEY CLUSTERED 
(
	[JobTalentSkillsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[JobTalentSkills] ON
INSERT [dbo].[JobTalentSkills] ([JobTalentSkillsId], [ParentCategoryId], [SkillId], [JobId], [TalentId], [Description], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (4, 2, 142, NULL, 1000, N'Good Actor', 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentSkills] ([JobTalentSkillsId], [ParentCategoryId], [SkillId], [JobId], [TalentId], [Description], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (5, 2, 143, NULL, 1000, N'Good Stuntman', 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
INSERT [dbo].[JobTalentSkills] ([JobTalentSkillsId], [ParentCategoryId], [SkillId], [JobId], [TalentId], [Description], [CreatedBy], [CreatedDate], [modifiedBy], [ModifiedDate], [IsDeleted]) VALUES (6, 2, 144, NULL, 1000, N'Good Dancer', 1, CAST(0x00000000683C0B0000 AS DateTime2), 2, CAST(0x00749C00B03C0B0000 AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[JobTalentSkills] OFF
/****** Object:  StoredProcedure [dbo].[UpdateJobFromXML]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateJobFromXML]
       -- Add the parameters for the stored procedure here
       @UpdateXmlData NVARCHAR(MAX),
       @UserId BIGINT
AS
BEGIN
      DECLARE @IsSuccess VARCHAR(10) = 'Fail'
DECLARE @TodayDate DATETIME2(0) = GETDATE()
DECLARE @JobId BIGINT
DECLARE @CategoryId BIGINT
DECLARE @xmlData XML;

SET @xmlData = CONVERT(XML, @UpdateXmlData);

  BEGIN TRY
    BEGIN TRANSACTION;
--select * from Jobs
       --INSERT INTO Jobs
       --(JobName, JobDescription, MinAge, MaxAge)
SELECT @JobId = XmlData.x.value('JobId[1]','varchar(20)') 
from @xmlData.nodes('/VmInsertJob') XmlData(x)

Update Jobs set JobName = x.value('JobName[1]', 'varchar(1000)'),
                ProductionCompanyId = x.value('ProductionCompanyId[1]', 'bigint'),
                StatusId = x.value('StatusId[1]', 'bigint'),
                RegionId = x.value('RegionId[1]', 'bigint'),
                JobDescription = x.value('JobDescription[1]', 'nvarchar(MAX)'),
                Gender = x.value('Gender[1]', 'varchar(50)'),
                MinAge = x.value('MinAge[1]', 'bigint'),
                MaxAge = x.value('MaxAge[1]', 'bigint'),
                EyeColor = x.value('EyeColor[1]', 'varchar(50)'),
                Height = x.value('Height[1]', 'bigint'),
                Waist = x.value('Waist[1]', 'bigint'),
                HairColor = x.value('HairColor[1]', 'varchar(50)'),
                ChestSize = x.value('ChestSize[1]', 'bigint'),
                HipSize = x.value('HipSize[1]', 'bigint'),
                Ethicity = x.value('Ethicity[1]', 'varchar(100)'),
                Pay = x.value('Pay[1]', 'varchar(100)'),
                NumberOfDays = x.value('NumberOfDays[1]', 'bigint'),
                ModifiedBy = @UserId,
                ModifiedDate = @TodayDate   
       FROM @xmlData.nodes('//VmInsertJob') XmlData(x)
       where JobId = @JobId and IsDeleted = 0
       
       
       
       
       
       MERGE INTO JobTalentLanguage AS t
    USING (select XmlData.x.value('JobId[1]','varchar(20)') as JobId ,  
c.i.value('(.)[1]','int') as LanguageId 
from @xmlData.nodes('/VmInsertJob') XmlData(x)
cross apply x.nodes('LanguageIds/int') c(i)) as s
        ON t.JobId = s.JobId AND t.LanguageId = s.LanguageId AND t.IsDeleted = 0
    WHEN MATCHED AND t.TalentId IS NULL  AND t.IsDeleted = 0 THEN
        --Row exists and data is different
        UPDATE SET t.ModifiedBy = @UserId, t.ModifiedDate = @TodayDate
    WHEN NOT MATCHED BY Target THEN
        --Row exists and data is different
       Insert (LanguageId, JobId, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate)
       values (s.LanguageId, s.JobId, @UserId,@TodayDate,@UserId,@TodayDate)
    WHEN NOT MATCHED BY SOURCE AND t.TalentId IS NULL AND t.JobId = @JobId  AND t.IsDeleted = 0 THEN
        --Row exists and data is different
        UPDATE SET t.ModifiedBy = @UserId, t.ModifiedDate = @TodayDate, t.IsDeleted = 1;
        
       
        update JTC set JTC.ModifiedBy = @UserId, JTC.ModifiedDate = @TodayDate
        ,JTC.CategoryId = S.ParentId from JobTalentCategory JTC 
        INNER JOIN (select XmlData.x.value('JobId[1]','varchar(20)') as JobId ,  
c.i.value('SkillId[1]','int') as SubCategoryId 
from @xmlData.nodes('/VmInsertJob') XmlData(x)
cross apply x.nodes('Skills/VmSkills') c(i)) AS x
        ON x.JobId = JTC.JobId and JTC.TalentId is null AND JTC.IsDeleted = 0
        inner join SubCategory S on S.SubCategoryId = x.SubCategoryId and S.ParentId IS NOT NULL
         AND S.IsDeleted = 0
        Where JTC.JobId = @JobId and JTC.TalentId is NULL and JTC.IsDeleted = 0
        
        
        
        Update JobTalentSkills set ModifiedBy = @UserId, ModifiedDate = @TodayDate,
                SkillId = x.value('SkillId[1]', 'bigint'),
                Description = x.value('Description[1]', 'nvarchar(max)')
       FROM @xmlData.nodes('//VmInsertJob/Skills/VmSkills') XmlData(x)
       where JobId = @JobId and TalentId is NULL and IsDeleted = 0
       
       
        COMMIT TRANSACTION;
  SET @IsSuccess = 'Success'
  END TRY
  BEGIN CATCH
  select @@TRANCOUNT
    IF @@TRANCOUNT > 0
    ROLLBACK TRANSACTION;
	SET @IsSuccess = 'Fail'
    EXEC Proc_InsertErrorDetails
  END CATCH
  
  SELECT @IsSuccess
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPublicTalent]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_GetPublicTalent]  
@Category varchar(200) = '',  
@SubCategory varchar(200) = ''  
AS  
BEGIN  
select ISNULL(T.FirstName,'') + ' ' + ISNULL(T.LastName, '') AS Name, T.TalentId, ISNULL(M.FilePath,'Images/blank-profile-picture.png') AS FilePath from Talent T WITH(NOLOCK)   
INNER JOIN   
JobTalentCategory JTC WITH(NOLOCK) ON JTC.TalentId = T.TalentId AND JTC.JobId IS NULL  
INNER JOIN   
SubCategory SC WITH(NOLOCK) ON SC.SubCategoryId = JTC.CategoryId AND SC.ParentId IS NULL  
INNER JOIN  
JobTalentSkills JTS WITH(NOLOCK) ON JTS.ParentCategoryId = JTC.JobTalentCategoryId AND JTS.JobId IS NULL  
INNER JOIN  
SubCategory SC1 WITH(NOLOCK) ON SC1.SubCategoryId = JTS.SkillId AND SC1.ParentId IS NOT NULL  
INNER JOIN Category C WITH(NOLOCK) ON C.CategoryId = SC.CategoryId AND C.CategoryId = SC1.CategoryId  
LEFT JOIN  
Media M WITH(NOLOCK) ON M.TalentId = T.TalentId AND M.JobId IS NULL AND M.MediaType = 'Image' AND IsProfilePic = 1  AND IsProfilePic = 1 And (M.IsDeleted=0 Or M.IsDeleted is null) 
WHERE C.MasterCategoryName = 'CATEGORY' AND C.CategoryValue = 'Category' AND T.IsPublic = 1 And (T.IsDeleted=0 Or T.IsDeleted is null)
AND  
  (SC.SubCategoryValue = @Category) AND   
(@SubCategory = '' OR SC1.SubCategoryValue = @SubCategory)  
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteTalent]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[usp_DeleteTalent] 
@TalentId BIGINT,
@UserId BIGINT
AS
BEGIN
DECLARE @IsSuccess VARCHAR(10) = 'Fail'
DECLARE @TodayDate DATETIME2(0) = GETDATE()

  BEGIN TRY
    BEGIN TRANSACTION;
		UPDATE Talent SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
		
		UPDATE JobTalentAssociation SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
		
			UPDATE JobTalentCategory SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
     
			UPDATE JobTalentLanguage SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
    
			UPDATE JobTalentSkills SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
        
			UPDATE Media SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE TalentId = @TalentId
		
    COMMIT TRANSACTION;
  SET @IsSuccess = 'Success'
  END TRY
  BEGIN CATCH
  select @@TRANCOUNT
    IF @@TRANCOUNT > 0
    ROLLBACK TRANSACTION;
	SET @IsSuccess = 'Fail'
    EXEC Proc_InsertErrorDetails
  END CATCH
  
  SELECT @IsSuccess
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProductionCompany]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_DeleteProductionCompany]
@ProductionCompanyId BIGINT,
@UserId BIGINT
AS
BEGIN
DECLARE @IsSuccess VARCHAR(10) = 'Fail'
DECLARE @TodayDate DATETIME2(0) = GETDATE()

  BEGIN TRY
    BEGIN TRANSACTION;
        UPDATE ProductionCompany SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE ProductionCompanyId = @ProductionCompanyId
		UPDATE Jobs SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE ProductionCompanyId = @ProductionCompanyId
    
		SELECT JobId INTO #DeleteJobs from Jobs WHERE ProductionCompanyId = @ProductionCompanyId
		
		IF EXISTS(SELECT TOP 1 1 FROM #DeleteJobs)
		BEGIN
			UPDATE JTC SET JTC.IsDeleted = 1, JTC.ModifiedBy = @UserId, JTC.ModifiedDate = @TodayDate FROM JobTalentCategory JTC
			INNER JOIN #DeleteJobs J ON J.JobId = JTC.JobId
     
			UPDATE JTL SET JTL.IsDeleted = 1, JTL.ModifiedBy = @UserId, JTL.ModifiedDate = @TodayDate FROM JobTalentLanguage JTL
			INNER JOIN #DeleteJobs J ON J.JobId = JTL.JobId
    
			UPDATE JTS SET JTS.IsDeleted = 1, JTS.ModifiedBy = @UserId, JTS.ModifiedDate = @TodayDate FROM JobTalentSkills JTS
			INNER JOIN #DeleteJobs J ON J.JobId = JTS.JobId
    
			UPDATE JTS SET JTS.IsDeleted = 1, JTS.ModifiedBy = @UserId, JTS.ModifiedDate = @TodayDate FROM JobTalentStatus JTS
			INNER JOIN #DeleteJobs J ON J.JobId = JTS.JobId
    
			UPDATE M SET M.IsDeleted = 1, M.ModifiedBy = @UserId, M.ModifiedDate = @TodayDate FROM Media M
			INNER JOIN #DeleteJobs J ON J.JobId = M.JobId 
		END
		
    COMMIT TRANSACTION;
  SET @IsSuccess = 'Success'
  END TRY
  BEGIN CATCH
  select @@TRANCOUNT
    IF @@TRANCOUNT > 0
    ROLLBACK TRANSACTION;
	SET @IsSuccess = 'Fail'
    EXEC Proc_InsertErrorDetails
  END CATCH
  
  SELECT @IsSuccess
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteJob]    Script Date: 04/18/2017 22:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_DeleteJob] 
@JobId BIGINT,
@UserId BIGINT
AS
BEGIN
DECLARE @IsSuccess VARCHAR(10) = 'Fail'
DECLARE @TodayDate DATETIME2(0) = GETDATE()

  BEGIN TRY
    BEGIN TRANSACTION;
		UPDATE Jobs SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
		
		UPDATE JobTalentAssociation SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
		
			UPDATE JobTalentCategory SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
     
			UPDATE JobTalentLanguage SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
    
			UPDATE JobTalentSkills SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
        
			UPDATE Media SET IsDeleted = 1, ModifiedBy = @UserId, ModifiedDate = @TodayDate WHERE JobId = @JobId
		
    COMMIT TRANSACTION;
  SET @IsSuccess = 'Success'
  END TRY
  BEGIN CATCH
  select @@TRANCOUNT
    IF @@TRANCOUNT > 0
    ROLLBACK TRANSACTION;
	SET @IsSuccess = 'Fail'
    EXEC Proc_InsertErrorDetails
  END CATCH
  
  SELECT @IsSuccess
END;
GO
/****** Object:  Default [DF__ErrorTrac__dErro__239E4DCF]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[ErrorTracer] ADD  DEFAULT (getdate()) FOR [dErrorDate]
GO
/****** Object:  Default [DF_Jobs_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_JobTalentAssociation_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentAssociation] ADD  CONSTRAINT [DF_JobTalentAssociation_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_JobTalentCategory_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentCategory] ADD  CONSTRAINT [DF_JobTalentCategory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_JobTalentLanguage_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentLanguage] ADD  CONSTRAINT [DF_JobTalentLanguage_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_JobTalentSkills_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentSkills] ADD  CONSTRAINT [DF_JobTalentSkills_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Media_IsProfilePic]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Media] ADD  CONSTRAINT [DF_Media_IsProfilePic]  DEFAULT ((0)) FOR [IsProfilePic]
GO
/****** Object:  Default [DF_Media_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Media] ADD  CONSTRAINT [DF_Media_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_ProductionCompany_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[ProductionCompany] ADD  CONSTRAINT [DF_ProductionCompany_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_SubCategory_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[SubCategory] ADD  CONSTRAINT [DF_SubCategory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Talent_ShowTalentOnWeb]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Talent] ADD  CONSTRAINT [DF_Talent_ShowTalentOnWeb]  DEFAULT ((0)) FOR [IsPublic]
GO
/****** Object:  Default [DF_Talent_IsDeleted]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Talent] ADD  CONSTRAINT [DF_Talent_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  ForeignKey [FK_Category_MasterCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_MasterCategory] FOREIGN KEY([MasterCategoryName])
REFERENCES [dbo].[MasterCategory] ([MasterCategoryName])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_MasterCategory]
GO
/****** Object:  ForeignKey [FK_ContactUs_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[ContactUs]  WITH CHECK ADD  CONSTRAINT [FK_ContactUs_SubCategory] FOREIGN KEY([ContactStatus])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[ContactUs] CHECK CONSTRAINT [FK_ContactUs_SubCategory]
GO
/****** Object:  ForeignKey [FK_Jobs_ProductionCompany]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_ProductionCompany] FOREIGN KEY([ProductionCompanyId])
REFERENCES [dbo].[ProductionCompany] ([ProductionCompanyId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_ProductionCompany]
GO
/****** Object:  ForeignKey [FK_Jobs_Region]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Region]
GO
/****** Object:  ForeignKey [FK_Jobs_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_SubCategory] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_SubCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentAssociation_Jobs]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentAssociation]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentAssociation_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobTalentAssociation] CHECK CONSTRAINT [FK_JobTalentAssociation_Jobs]
GO
/****** Object:  ForeignKey [FK_JobTalentAssociation_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentAssociation]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentAssociation_SubCategory] FOREIGN KEY([Status])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[JobTalentAssociation] CHECK CONSTRAINT [FK_JobTalentAssociation_SubCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentAssociation_Talent]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentAssociation]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentAssociation_Talent] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talent] ([TalentId])
GO
ALTER TABLE [dbo].[JobTalentAssociation] CHECK CONSTRAINT [FK_JobTalentAssociation_Talent]
GO
/****** Object:  ForeignKey [FK_JobTalentCategory_Jobs]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentCategory]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentCategory_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobTalentCategory] CHECK CONSTRAINT [FK_JobTalentCategory_Jobs]
GO
/****** Object:  ForeignKey [FK_JobTalentCategory_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentCategory]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentCategory_SubCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[JobTalentCategory] CHECK CONSTRAINT [FK_JobTalentCategory_SubCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentCategory_Talent]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentCategory]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentCategory_Talent] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talent] ([TalentId])
GO
ALTER TABLE [dbo].[JobTalentCategory] CHECK CONSTRAINT [FK_JobTalentCategory_Talent]
GO
/****** Object:  ForeignKey [FK_JobTalentLanguage_Jobs]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentLanguage]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentLanguage_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobTalentLanguage] CHECK CONSTRAINT [FK_JobTalentLanguage_Jobs]
GO
/****** Object:  ForeignKey [FK_JobTalentLanguage_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentLanguage]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentLanguage_SubCategory] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[JobTalentLanguage] CHECK CONSTRAINT [FK_JobTalentLanguage_SubCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentLanguage_Talent]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentLanguage]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentLanguage_Talent] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talent] ([TalentId])
GO
ALTER TABLE [dbo].[JobTalentLanguage] CHECK CONSTRAINT [FK_JobTalentLanguage_Talent]
GO
/****** Object:  ForeignKey [FK_JobTalentSkills_Jobs]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentSkills_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[JobTalentSkills] CHECK CONSTRAINT [FK_JobTalentSkills_Jobs]
GO
/****** Object:  ForeignKey [FK_JobTalentSkills_JobTalentCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentSkills_JobTalentCategory] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[JobTalentCategory] ([JobTalentCategoryId])
GO
ALTER TABLE [dbo].[JobTalentSkills] CHECK CONSTRAINT [FK_JobTalentSkills_JobTalentCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentSkills_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentSkills_SubCategory] FOREIGN KEY([SkillId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[JobTalentSkills] CHECK CONSTRAINT [FK_JobTalentSkills_SubCategory]
GO
/****** Object:  ForeignKey [FK_JobTalentSkills_Talent]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[JobTalentSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobTalentSkills_Talent] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talent] ([TalentId])
GO
ALTER TABLE [dbo].[JobTalentSkills] CHECK CONSTRAINT [FK_JobTalentSkills_Talent]
GO
/****** Object:  ForeignKey [FK_Media_Jobs]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([JobId])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Jobs]
GO
/****** Object:  ForeignKey [FK_Media_Talent]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Talent] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talent] ([TalentId])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Talent]
GO
/****** Object:  ForeignKey [FK_ProductionCompany_Region]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[ProductionCompany]  WITH CHECK ADD  CONSTRAINT [FK_ProductionCompany_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[ProductionCompany] CHECK CONSTRAINT [FK_ProductionCompany_Region]
GO
/****** Object:  ForeignKey [FK_SubCategory_Category]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
/****** Object:  ForeignKey [FK_Talent_Region]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Talent]  WITH CHECK ADD  CONSTRAINT [FK_Talent_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[Talent] CHECK CONSTRAINT [FK_Talent_Region]
GO
/****** Object:  ForeignKey [FK_Talent_SubCategory]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Talent]  WITH CHECK ADD  CONSTRAINT [FK_Talent_SubCategory] FOREIGN KEY([Acsent])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Talent] CHECK CONSTRAINT [FK_Talent_SubCategory]
GO
/****** Object:  ForeignKey [FK_Talent_SubCategory1]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Talent]  WITH CHECK ADD  CONSTRAINT [FK_Talent_SubCategory1] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SubCategory] ([SubCategoryId])
GO
ALTER TABLE [dbo].[Talent] CHECK CONSTRAINT [FK_Talent_SubCategory1]
GO
/****** Object:  ForeignKey [FK_Tokens_User]    Script Date: 04/18/2017 22:36:32 ******/
ALTER TABLE [dbo].[Tokens]  WITH CHECK ADD  CONSTRAINT [FK_Tokens_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Tokens] CHECK CONSTRAINT [FK_Tokens_User]
GO
