@{
    ViewBag.Title = "Index";
}

<header class="major text-center">
    <h2>Talent</h2>
    <h2>Pick Your Area</h2>
</header>
<div class="talent row">
   <div class="container">
   
     <div class="row text-center">
   <div class="col-xs-12"><h1>TALENT PICK YOUR AREA</h1></div>
       <div class="col-sm-4 col-xs-12 homewidget"><img src="/Content/images/actor_03.png">
	   <h2>ACTOR</h2>
			<p> This is actor section</p>
	</div>
 <div class="col-sm-4 col-xs-12 homewidget">
 <img src="/Content/images/music_03.png">
	   <h2>MUSIC</h2>
			<p> This is music section</p>
 </div>
  <div class="col-sm-4 col-xs-12 homewidget"> <img src="/Content/images/others_03.png">
	   <h2>OTHERS</h2>
			<p> This is others section</p></div>
     </div>
    </div>
   </div>

