@{
    ViewBag.Title = "Index";
}

<div class="talent row" style="background-color: rgba(0,0,0,0.6)">
    <div class="slider">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item" style="">
                    <img src="/Content/images/banner_03.jpg" alt="" class="">
                </div>
                <div class="item active">
                    <img src="/Content/images/banner_03.jpg" alt="" class="">
                    <div class="carousel-caption">
                        <!--  <h4 class="">Second Slide Title</h4>

                <p class="">
                   Description for Second Slide, this is Second Slide.
                </p>-->
                    </div>
                </div>
                <div class="item" style="">
                    <img src="/Content/images/banner_03.jpg" alt="" class="" />
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>


        </div>



    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h1>TALENT PICK YOUR AREA</h1>
            </div>
            <div class="col-sm-4 col-xs-12 homewidget">
                <img src="/Content/images/actor_03.png">
                <h2>ACTOR</h2>
                <p>This is actor section</p>
            </div>
            <div class="col-sm-4 col-xs-12 homewidget">
                <img src="/Content/images/music_03.png">
                <h2>MUSIC</h2>
                <p>This is music section</p>
            </div>
            <div class="col-sm-4 col-xs-12 homewidget">
                <img src="/Content/images/others_03.png">
                <h2>OTHERS</h2>
                <p>This is others section</p>
            </div>
        </div>
    </div>
</div>

