@{
    ViewBag.Title = "Index";
}

<div class="talent row" style="background-color: rgba(0,0,0,0.8)">
    <div class="slider">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
                <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item" style="">
                    <img src="/Content/images/banner_03.jpg" alt="" class="">
                </div>
                <div class="item active">
                    <img src="/Content/images/banner_03.jpg" alt="" class="">
                    <div class="carousel-caption">
                        <!--  <h4 class="">Second Slide Title</h4>

                <p class="">
                   Description for Second Slide, this is Second Slide.
                </p>-->
                    </div>
                </div>
                <div class="item" style="">
                    <img src="/Content/images/banner_03.jpg" alt="" class="" />
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>


        </div>



    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <h1>Welcome to Jade Talent</h1>
        </div>
        <div class="col-sm-6 col-xs-12 homewidget">
            <h2>About Jade</h2>
            <br />

            <div class="row" style="text-align: left;">

                <div class="col-xs-12">

                    <p style="text-align: left;">
                        The essence of JADE

The birth of an era. The agency called JADE. Representing a collective of quality models and talent, in this world we live vain.
JADE thrives on innovation, yet it oozes depth. Passionate about people is paramount here. JADE lives to embrace and encourage, to ignite the individuality and the indigenous within. The seasoning, it's organic at its best.Don't be surprised if JADE recognizes your better self, even when you thought there was nothing there. Let JADE help you see your potential because here we face all our fears.JADE is the people and the people are JADE. 
​
​
JADE is New Zealand's newest premier talent management agency.
​
With an eye for quality JADE currently focuses on authentic indigenous individuals to the modelling, tv and film industry throughout New Zealand 
​
​
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 homewidget">
            <h2>Success Stories</h2>
            <br />
            <div class="row" style="text-align: left;">

                <div class="col-xs-12">
                    <p>If you are a stone with a dream of being a Jade, come to Jade Talent. Jade Talent can discover your shinning part, make it into art.</p>
                    <div class="col-xs-12" style="text-align: right;">
                        <span class="glyphicon glyphicon-pencil" style="text-align: right;"></span>
                        <span style="font-family:cursive;">Sunny</span>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="col-xs-12">

                    <p>
                        My experiences with Jade have been truly amazing so far. I look forward to the journey and greater experiences ahead. Walter
Can you change the Jade Talent to just Jade
Delete that last one: 
My experiences with Jade have been truly amazing so far. I look forward to the journey and greater experiences ahead. Jade is an honest and reliable agency. Walter
                    </p>
                    <div class="col-xs-12" style="text-align: right;">
                        <span class="glyphicon glyphicon-pencil" style="text-align: right;"></span>
                        <span style="font-family:cursive;">Walter</span>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="col-xs-12">

                    <p>My first time on set and I had an awesome experience. Met nice people that day. Enjoyed being in a friendly environment. Thank you Jade.</p>

                    <div class="col-xs-12" style="text-align: right;">
                        <span class="glyphicon glyphicon-pencil" style="text-align: right;"></span>
                        <span style="font-family:cursive;">Ayaan</span>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>

    </div>
</div>
