@model string

@{
    ViewBag.Title = "MessagePage";
}
<style>
    #banner {
        display: none;
    }
</style>

<div style="text-align:center;width:100%;"><strong style="color: green; "> @Model.ToString() </strong></div>
