@model List<BusinessEntities.ViewModel.VmPublicTalent>
@{
    ViewBag.Title = "SearchCategory";
}


<link href="/Content/css/4-col-portfolio.css" rel="stylesheet" />
<style>
    .slider {
        display: none;
    }

    .wrapper.style1 {
        background-color: whitesmoke;
    }

    #rig {
        max-width: 1000px;
        margin: 0 auto; /*center aligned*/
        padding: 0;
        font-size: 0; /* Remember to change it back to normal font size if have captions */
        list-style: none;
        background-color: none;
    }

        #rig li {
            display: inline-block;
            *display: inline; /*for IE6 - IE7*/
            width: 25%;
            vertical-align: middle;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

    /* The wrapper for each item */
    .rig-cell {
        margin: 12px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        padding: 16px;
        border: none;
        color: #555;
        background-color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        position: relative;
        overflow: hidden;
    }

        .rig-cell h3 {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 0;
        }

    /* If have the image layer */
    .rig-img {
        display: block;
        border: none;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-color: white;
        background-image: url(img/web-ui.jpg);
        background-repeat: no-repeat;
        position: relative; /* Make its pseudo :after to be relative to it. */
        margin-bottom: inherit;
    }

        .rig-img:after {
            position: absolute;
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            border: 1px solid #fff;
            content: '+';
            color: white;
            padding-top: 14%;
            font-size: 30px;
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all 0.3s;
            transform: scale(0);
        }

    #rig li:hover .rig-img:after {
        opacity: 1;
    }

    /* If have the overlay layer */
    .rig-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: white;
        background-size: 50px 50px;
        opacity: 0;
        filter: alpha(opacity=0); /*For older IE*/
        transition: all 0.3s;
    }


    @@media (max-width: 9000px) {
        #rig li {
            width: 25%;
        }
    }

    @@media (max-width: 800px) {
        #rig li {
            width: 33.33%;
        }
    }

    @@media (max-width: 500px) {
        #rig li {
            width: 50%;
        }
    }

    @@media (max-width: 350px) {
        #rig li {
            width: 100%;
        }
    }

    .row {
        margin-right: 0!important;
        margin-left: 0!important;
    }

    body {
        padding: 0!important;
    }
</style>

<div class="content">
    <div class="container">
        <div class="col-xs-12" style="background-color: #de291e; color: white; margin-bottom:2em; text-align:center">
            <h3>@ViewBag.SubCategory</h3>
        </div>
        @if (Model != null && Model.Count > 0)
        {
            int columnCount = 0;


            foreach (var item in Model)
            {
                if (columnCount == 0)
                {
            @Html.Raw("<div class='row' style='background-color: rgba(0,0,0,0.7);'>");
            <div class="col-xs-12 col-sm-1">
            </div>
                }
           
            <div class="col-xs-12 col-sm-2 portfolio-item">
                <a class="img-zoom" href="/Home/Profile?ProfileId=@item.TalentId">
                    <img class="img-responsive" src="~/@item.FilePath" />
                    <h4 style="background-color:whitesmoke;"><strong>@item.Name</strong></h4>
                </a>
            </div>
                if (columnCount == 4)
                {
            <div class="col-xs-12 col-sm-1">
            </div>
            @Html.Raw("</div>");
                               columnCount = 0;
                }
                else
                {
                    columnCount++;
                }
            }



        }
        else
        {
            <div class="col-xs-12" style="text-align: center; padding-top: 10%; min-height: 25em; background-color: rgba(0,0,0,0.5);">
                <h2><strong>PAGE HAS NO TALENTS
            <br>
                    TO SHOW AT THE MOMENT</strong></h2>
            </div>
        }
    </div>
</div>
<script>
    $('.img-zoom').hover(function () {
        $(this).addClass('transition');
    }, function () {
        $(this).removeClass('transition');
    });
</script>
