@{
    ViewBag.Title = "Index";
}

<header class="major">
    <h2>Talent</h2>
    <h2>Pick Your Area</h2>
</header>
<div class="container">
    <div class="row">
        <div class="4u">
            <section class="special box">
                <i class="icon fa-film major"></i>
                <h3>ACTOR</h3>
                <p>This is a Actor section.</p>
            </section>
        </div>
        <div class="4u">
            <section class="special box">
                <i class="icon fa-music major"></i>
                <h3>Music</h3>
                <p>This is a music section.</p>
            </section>
        </div>
        <div class="4u">
            <section class="special box">
                <i class="icon fa-cog major"></i>
                <h3>Others</h3>
                <p>This is other section.</p>
            </section>
        </div>
    </div>
</div>

