@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0px;
    padding: 0px;
    font-family: "lato",serif;
    font-size: 16px;
}

header {
    width: 100%;
    float: left;
}

.topbar {
    width: 100%;
    float: left;
    font-family: "lato",serif;
    font-size: 14px;
    padding: 5px 0px;
    /* background: url(/Images/tback_03.jpg) repeat;*/
    color: whitesmoke;
}

    .topbar .social a {
        color: #ababab;
        padding: 0px 10px;
    }

        .topbar .social a:hover {
            color: #de291e;
            padding: 0px 10px;
        }

.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.5);
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .dropdown-toggle a:hover {
        color: #ea6153;
        border-bottom: 2px solid #de291e;
        background-color: rgba(0,0,0,0.5);
    }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #ea6153;
    text-decoration: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #ea6153;
}

.topbar .social {
    text-align: right;
}

.mymenu {
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.9);
}

    .dropdown-menu > li > a {
        color: whitesmoke;
    }

.navbar-right .dropdown-menu {
    right: auto;
}

.form-group input[type="text"] {
    color: initial;
}

.footerRow {
    padding-top: 4em;
}

.carousel-indicators {
    left: 10em;
    z-index: 1;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.7)!important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: White;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #ea6153;
        }

    .dropdown-menu {
        background-color: rgba(0,0,0,0.9)!important;
    }

    .logostyle {
        height: 60%;
        width: 60%;
    }

    .footerRow {
        padding-top: 6em;
    }

    #footer {
        padding: 1.5em 0px;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .page-title .row {
        background-color: rgba(0,0,0,0.5);
        color: whitesmoke;
        font-size: 4em;
        text-align: center;
        padding-top: 0px;
    }
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0.5);
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}



.navbar-brand {
    height: auto;
    padding: 0px;
    position: relative;
    z-index: 999;
}

.slider {
    width: 100%;
    float: left;
}

    .slider img {
        width: 100%;
    }

.content {
    width: 100%;
    float: left;
    padding: 0px 0px;
}

    .content .titlerow {
        padding: 20px 0px;
    }

    .content h1 {
        font-size: 43px;
        font-family: "lato",serif;
        color: #150f10;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px;
    }

    .content h2 {
        font-size: 30px;
        font-family: "lato",serif;
        color: whitesmoke;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px;
    }

    .content h1 span {
        color: #de291e;
    }

    .content h2 span {
        color: #de291e;
    }

    .content p {
    }

.talent {
    width: 100%;
    float: left;
}

    .talent h1 {
        color: #fff;
    }

    .talent .homewidget {
        border-right: 1px solid #2f2f2f;
        color: #fff;
        padding: 10px 0px 0px 0px;
        margin: 20px 0px;
    }

        .talent .homewidget h2 {
            font-size: 24px;
        }

        .talent .homewidget p {
            font-size: 16px;
        }

        .talent .homewidget:last-child {
            border: none;
        }

footer {
    background: url(/Images/tback_03.jpg) repeat;
    width: 100%;
    float: left;
    font-size: 13px;
    padding: 5px 0px;
}

    footer a {
        color: #150f10;
    }

        footer a:hover {
            color: #de291e;
        }

    footer .social {
        text-align: right;
    }

        footer .social a {
            color: #fff;
            padding: 0px 10px;
        }

            footer .social a:hover {
                color: #de291e;
            }

.panel-default > .panel-heading {
    background-color: #de291e;
    color: #fff;
}

.page-title {
    width: 100%;
    float: left;
    /* background: url(/Images/tback_03.jpg) repeat;*/
    height: 80px;
}

.breadcrumb {
    background: transparent;
    text-align: right;
    margin: 20px 0px;
    color: #fff;
}

    .breadcrumb a {
        color: #fff;
    }

/* GRID STYLE */
.table thead {
    background-color: #000;
    color: #fff;
}

.table th {
    background-color: #000;
    color: #fff;
}

.table tr {
    background-color: #fff;
}
/* Pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #de291e;
    border-color: #de291e;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.pagination > li > a, .pagination > li > span {
    color: #333;
}

.input-group-addon {
    background-color: #de291e;
    color: #fff;
}

    .input-group-addon a {
        color: #fff;
    }


/* profile page css */
.personal-info {
    text-align: center;
}

    .personal-info strong, .personal-info span {
        display: block;
    }


.profile-info a {
    color: #de291e;
}

a {
    color: whitesmoke;
}

    a:hover {
        color: black;
    }

@media (max-width: 768px) {
    .hideImg {
        display: none;
    }

    .showImg {
        display: inline-block!important;
    }

    .slider {
        display: none;
    }

    .showImg img {
        height: 50%;
        width: 80%;
    }

    .talent .homewidget {
        border: none;
    }
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-height: 30px;
    width: 100%;
    color: whitesmoke;
    background: url(/Images/tback_03.jpg) repeat;
}

    #footer a {
        color: whitesmoke;
    }

        #footer a:hover {
            color: whitesmoke;
        }

.table td {
    padding-left: 1em!important;
    padding-right: 1em!important;
}

.table th {
    padding-left: 1em!important;
    padding-right: 1em!important;
    text-align: center;
}

.transparent-bg {
    background-image: url(/Content/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

    .transparent-bg > div.container {
        background-color: rgba(0,0,0,0.5);
    }

.img-zoom img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.img-zoom h4 {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.img-zoom h4 {
    visibility: hidden;
}

.transition h4 {
    visibility: visible;
    position: relative;
    z-index: 999;
    margin-top: -20px;
}

.transition img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.panel {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.auto-generated-link {
    color: whitesmoke;
}

.form-stronglabel {
    text-align: left;
}

.profile-info {
    text-align: left;
}

.btn {
    width: auto;
    min-width: 10em;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
}

    .table th {
        font-weight: 900;
        color: #ffffff;
        background: #ea6153!important;
    }

    .table tr:nth-child(even) {
        background: #CCC;
    }

    .table tr:nth-child(odd) {
        background: #FFF;
    }

    .table th {
        height: 3em;
    }

    .table th, td {
        font-size: 0.9em;
        text-align: left;
        width: 6%;
    }

.nav-tabs {
    display: table;
    width: 100%;
    background-color: #DE291E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #DE291E;
}

    .nav-tabs > li {
        display: table-cell;
        float: none;
    }

.tab-content {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.nav-tabs > li > a {
    color: #fff;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
        background-color: #c91409;
        border: 1px solid #c91409;
        color: #ffffff;
    }

.video-thumbnail {
    position: relative;
}

    .video-thumbnail .glyphicon {
        position: absolute;
        top: 50%;
        margin-top: -40px; /* half icon's height */
        left: 50%;
        margin-left: -40px; /* half icon's width */
        font-size: 40px;
        transition: all .25s;
        opacity: .75;
        background-color: black;
    }

    .video-thumbnail:hover .glyphicon {
        opacity: 1;
    }

tfoot a {
    color: black;
}

.displayNone {
    display: none!important;
}
