@model BusinessEntities.Model.SubCategoryEntity
@{
    ViewBag.Title = "AddChildCategory";
}

<h2>Add Child Category</h2>


<fieldset>
    <legend>Add Child Category</legend>
    <div class="editor-label">
        <label>Main Category</label>
    </div>
    <div class="editor-field">
        <select id="MainCategory">
            <option value="">---Please Select---</option>
            @{
                foreach (var pair in ViewBag.AvaiableEnums)
                {
                @Html.Raw("<option value='" + pair.Value + "'>" + pair.Text + "</option>");
                }
            }
        </select>
    </div>

    <div class="editor-label">
        <label>SubCategory Name</label>
    </div>
    <div class="editor-field">
        <input type="text" id="SubCategoryName" />
    </div>

    <div class="editor-label">
        <label>SubCategory Value</label>
    </div>
    <div class="editor-field">
        <input type="text" id="SubCategoryValue" />
    </div>


    <div class="editor-label">
        <label>Description</label>
    </div>
    <div class="editor-field">
        <input type="text" id="SubCategoryDescription" />
    </div>

    <p>
        <input type="button" value="Create" onclick="SaveSubCategory()" />
    </p>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
