@model  List<BusinessEntities.Model.ProductionCompanyEntitiy>

@{
    ViewBag.Title = "ProductionCompany";
    
    <style type="text/css">
        #banner {
            display: none;
        }
    </style>  
}
<div class="container WhiteBack">
    <div id='dialog'></div>

    <h3>Production Company List</h3>

    <div style="padding: 7px 0;">
        <input type="button" style="float: right; margin-bottom: 2%;" value="Add New Production Company" onclick="CreateProductionCompany()" />
    </div>
    <div style="clear: both"></div>
    <div>
        @{  
            WebGrid grid = new WebGrid(Model);  
            @grid.GetHtml(
         tableStyle: "grid",
         fillEmptyRows: false,
         mode: WebGridPagerModes.All,
         firstText: "<< First",
         previousText: "< Prev",
         nextText: "Next >",
         lastText: "Last >>",
         columns: new[] {  
         grid.Column("ProductionCompanyName",header: "Name"),  
         grid.Column("ContactPerson",header: "Contact Person"),  
         grid.Column("PhoneNumber", header: "Phone Number"),  
         grid.Column("EmailId",header: "Email"),
         grid.Column("RegionName",header: "Region Name"),
         grid.Column("DescriptionNotes",header: "Description Notes"),  
         grid.Column("ProductionCompanyId", header: "Action", canSort:false,  
           
         format: @<text>
            @Html.Raw("<i class='fa fa-pencil' aria-hidden='true' onclick='EditProductionCompany(" + item.ProductionCompanyId + ")' ></i>")
            @Html.Raw("<i class='fa fa-trash' aria-hidden='true' onclick='DeleteEmployee(" + item.ProductionCompanyId + ")' ></i>")
            </text>  
        )  
     })  
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dialog').dialog({ 'autoOpen': false });
    });

    function CreateProductionCompany() {
        var div = $("#dialog");
        div.load("/Admin/CreateProductionCompany", function () {
            div.dialog({
                modal: true,
                width: 500,
                height: 400,
                title: "Add New Production Company",
                resizable: false
            });
        });
    }

    function EditProductionCompany(P_ID) {
        var ph = $("#dialog");
        ph.load("/Admin/EditProductionCompany?productionCompanyId=" + P_ID, function () {
            $("#dialog").dialog({
                modal: true,
                width: 500,
                height: 400,
                title: "Edit Production Company",
                resizable: false
            });
        });
    }

    function DeleteEmployee(E_ID) {
        if (confirm("Are You Sure Delete Selected Production Company Record No.?")) {
            var data = { 'EmpID': E_ID }
            $.post('/EmployeeInfo/Delete', data,
            function (data) {
                if (data == true)
                    location = location.href;
                else
                    alert("Not delete something Wrong");
            });
        }
    }

</script>
